@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,500;1,900&display=swap');


/*

.btn {
  color: #fff;
  background: #f44a40;
  border: 1px solid transparent;
  border-radius: 20px;
  display: inline-block;
  outline: none;
  line-height: 40px;
  padding: 2px 20px 2px 20px;
  font-size: .8em;
  text-decoration: none;
  font-weight: 500;
  cursor: pointer;
  display: flex;
  width: 120px;
  box-sizing: border-box;
  margin: auto;
  justify-content: center;
 t}

.btn:hover {
  cursor: pointer;
  background: #ff4800;
  transition-duration: 0.4s;
  text-decoration: none;
  }

  /* HEADER -------------------------------------------------- */
/*/*
#intro {

  margin-top: 100px;
}

.headerContainer {
    
  padding: 15px;
  display: flex;
  margin: auto;

             
}

.headerLogo {
  float: left;
}

.headerLogo img {
    height: 50px;
    margin-right: 30px;
}
.headerNav{

width: 100%;
background-color: teal;
margin: auto;
justify-content: flex-end;
}

.headerNav nav ul {
    list-style-type: none;
    margin: 0px;
    padding-right: 20px;
  }
  
.headerNav nav ul li {
  float: right;

    
  
  }
  
.headerNav nav ul li .headerNavLink {
    padding-left: 25px;
    text-decoration: none;
  }
  
.headerNav nav ul li .headerNavLink:hover {
      color: #6d0f78;
      transition-duration: 0.4s;
    }

.headerRegister{



   }


 
  /* MAIN -------------------------------------------------- */

/*/*
.mainContainer {

}

.mainTop{
  margin-top: 500px;
  justify-items: center;
  align-items: center;
}

.mainTopPresentation{
  margin: 100px;
  color: #2b4b80cc
}
.mainTopPresentation h1{
 font-size: 34px;
 font-weight: bold;

}
.mainTopPresentation p{
  font-size: 23px
  
}

.mainTopImg{

}

.main2

  /* FOOTER -------------------------------------------------- */


  #myFooter {
    background-color: #fafafa;
    color: rgb(255, 255, 255);
    padding-top: 30px;
}

#myFooter .footer-copyright {
    background-color: #333333;
    padding-top: 3px;
    padding-bottom: 3px;
    text-align: center;
}

#myFooter .row {
    margin-bottom: 60px;
}

#myFooter .navbar-brand {
    margin-top: 45px;
    height: 65px;
}

#myFooter .footer-copyright p {
    margin: 10px;
    color: #ccc;
}

#myFooter ul {
    list-style-type: none;
    padding-left: 0;
    line-height: 1.7;
}

#myFooter h5 {
    font-size: 18px;
    color: rgb(158, 158, 158);
    font-weight: bold;
    margin-top: 30px;
}

#myFooter h2 a{
    font-size: 50px;
    text-align: center;
    color: #fff;
}

#myFooter a {
    color: #afafaf;
    text-decoration: none;
}

#myFooter a:hover,
#myFooter a:focus {
    text-decoration: none;
    color: rgb(88, 88, 88);
}

#myFooter .social-networks {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 16px;
}

#myFooter .social-networks a {
    font-size: 32px;
    color: #979797;
    padding: 10px;
    transition: 0.2s;
}

#myFooter .social-networks a:hover {
    text-decoration: none;
}

#myFooter .facebook:hover {
    color: #0077e2;
}

#myFooter .instagram:hover {
    color: #ef1a1a;
}

#myFooter .twitter:hover {
    color: #00aced;
}

#myFooter .btn {
    color: white;
    background-color: #e95779;
    border-radius: 20px;
    border: none;
    width: 150px;
    display: block;
    margin: 0 auto;
    margin-top: 10px;
    line-height: 25px;
}

#myFooter .btn:hover {
  background-color: #fd7d9b;
}

@media screen and (max-width: 767px) {
    #myFooter {
        text-align: center;
    }
}




/*
* ==========================================
* QUOTE
* ==========================================
*
*/



.quote-card {
  background: #fff;
  color: #222222;
  padding: 20px;
  padding-left: 50px;
  box-sizing: border-box;
  box-shadow: 0 2px 4px rgba(34, 34, 34, 0.12);
  position: relative;
  overflow: hidden;
  min-height: 120px;
}
.quote-card p {
  font-size: 22px;
  line-height: 1.5;
  margin: 0;
  max-width: 80%;
}
.quote-card cite {
  font-size: 16px;
  margin-top: 10px;
  font-weight: 200;
  opacity: 0.8;
}
.quote-card:before {
  font-family: Georgia, serif;
  content: "“";
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 5em;
  color: rgba(238, 238, 238, 0.8);
  font-weight: normal;
}
.quote-card:after {
  font-family: Georgia, serif;
  content: "”";
  position: absolute;
  bottom: -110px;
  line-height: 100px;
  right: -32px;
  font-size: 25em;
  color: rgba(238, 238, 238, 0.8);
  font-weight: normal;
}
@media (max-width: 640px) {
  .quote-card:after {
    font-size: 22em;
    right: -25px;
  }
}



/*
*
* ==========================================
* Highlight
* ==========================================
*/

.highlight {
  background: linear-gradient(180deg,rgba(255,255,255,0) 50%, #d1d3ff 50%);
}